* {
    margin: 0;
    padding: 0;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-style: normal;

}

html,
body {
    padding: 0;
    background-color: $color-primary;
}

header {
    width: 100%;
    background-color: $colo-second;

    #navbarNavDropdown {
        justify-content: end;
        padding: 0 50px;
        a{
            color: black !important;

        }

    
    }
    
    .logo {
        height: 60px;
    }
        img {
            position: absolute;
            width: 100px;
            border-radius: 70px;
        }

    
    

}

